.blockHome {
    padding: 20px 64px 32px 64px;
}
.home {
    display: flex;
    gap: 24px;
}
.block {
    padding: 98px 64px;
    border-radius: 30px;
    max-width: 720px;
    width: 100%;
   
    background-color: #f8f8f8;
}
.titel {
    max-width: 548px;
    width: 100%;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: #121417;
}
.text {
    font-style: italic;
    font-weight: 400;
    background-color: #FBE9BA;
}
.subTitel {
    padding-bottom: 64px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: -0.02em;
    color: #121417;
}
.button {
    display: block;

    border-radius: 12px;
    border: none;
    padding: 16px 88px;
    width: 267px;
    height: 60px;
    background: #ffdc86;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.55556;
    color: #121417;

}
.button:hover,
.button:focus {
    background-color: #f4c550;
}
.stats {
    margin-top: 24px;
    padding: 40px 122px;
    border: 2.50px dashed #f4c550;
    border-radius: 30px;
    height: 116px;
    
}
.statsGrid {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 100px;
}
.statItem {
    display: flex;
    gap: 16px;
    
}
.statNumber {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.14286;
    letter-spacing: -0.02em;
    color: #121417;
}
.statLabel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(18, 20, 23, 0.7);
}