.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 128px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #121417;
}
.navigation {
    display: flex;
    gap: 28px;
}
.link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #121417;

    transition: color 0.25s ease, border-color 0.25s ease;
    padding-bottom: 2px;
    
}
.link:hover {
   color: #F4C550;
}

.active {
    color:#F4C550;
    font-weight: 500;
}
